params {
    config_profile_description  = 'Alliance Canada HPC config'
    config_profile_contact      = 'Cian Monnin (https://github.com/CMonnin)'
    config_profile_url          = 'https://docs.alliancecan.ca/wiki/Nextflow'

    max_time                    = 168.h
    max_cpus                    = 64
    max_memory                  = 240.GB
}

cleanup = true

singularity {
    enabled     = false
    autoMounts  = true
}

apptainer {
    enabled    = true
    autoMounts = true
}

// In the case of multiple allocations group name for resource allocation should be supplied as environment variable
// e.g. export SLURM_ACCOUNT=def-pname
// error 125 = runtime error, error 139 = out of memory
process {
    executor        = 'slurm'
    maxRetries      = 1
    errorStrategy   = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
    cpu             = 1
    time            = '3h'
    // will be set to cluster specific resource
    resourceLimits = [
            memory: 240.GB,
            cpus: 64,
            time: 168.h
        ]
}

executor {
    pollInterval    = '60 sec'
    submitRateLimit = '60/1min'
    queueSize       = 100
}

// Cluster name defined by `hostname -f` on node
// If not found, default to narval as it has the lowest limits
def fqdn = ""

def hostname = "hostname -f".execute()

hostname.waitFor()
if (hostname.exitValue() == 0) {
    fqdn = hostname.text.trim()
} else {
    System.err.println("WARNING: Could not determine current cluster, defaulting to narval")
}

// Cluster Narval, if hostname not detected run with Narval params
if ((fqdn.contains(".narval.")) || (fqdn == "")){
    params.config_profile_description = 'Alliance Canada (Narval) cluster profile provided by nf-core/configs.'
    params.max_memory = 249.GB
    params.max_cpus   = 64
    process {
        resourceLimits = [
            memory: 249.GB,
            cpus: 64,
            time: 168.h
        ]
    }
}

// Cluster Rorqual
if (fqdn.contains(".rorqual.")) {
    params.config_profile_description = 'Alliance Canada (Rorqual) cluster profile provided by nf-core/configs.'
    params.max_memory = 750.GB
    params.max_cpus   = 192
    process {
        resourceLimits = [
            memory: 750.GB,
            cpus: 192,
            time: 168.h
        ]
    }
}

// Cluster Trillium
if (fqdn.startsWith("tri")) {
    params.config_profile_description = 'Alliance Canada (Trillium) cluster profile provided by nf-core/configs.'
    params.max_memory = null
    params.max_cpus   = null
    process {
        // In the case of multiple allocations group name for resource allocation should be supplied as environment variable
        if(System.getenv('SLURM_ACCOUNT')){
            clusterOptions = "--account=${System.getenv('SLURM_ACCOUNT')} --nodes=1"
        } else {
            clusterOptions = "--nodes=1"
        }
        resourceLimits = [
            time: 168.h
        ]
    }
    executor {
        queueSize = 500
    }
}

// Cluster Nibi
if (fqdn.contains(".nibi.")) {
    params.config_profile_description = 'Alliance Canada (Nibi) cluster profile provided by nf-core/configs.'
    params.max_memory = 750.GB
    params.max_cpus   = 192
    process {
        resourceLimits = [
            memory: 750.GB,
            cpus: 192,
            time: 168.h
        ]
    }
}

// Cluster Fir
if (fqdn.contains(".fir.")){
    params.config_profile_description = 'Alliance Canada (Fir) cluster profile provided by nf-core/configs.'
    params.max_memory = 750.GB
    params.max_cpus   = 192
    process {
        resourceLimits = [
            memory: 750.GB,
            cpus: 192,
            time: 168.h
        ]
    }
}

